body {
   background-color: black;
}


h1{
   margin-left: 450px;
      padding-top:10px;
   margin-top: 10px;
   color: white;

}


.title{
   margin-left: auto;
   font-family: 'Courier New';
   font-weight: lighter;
   font-size: 30px;
letter-spacing: 0px;
margin-top:  40px;
margin-bottom: -1px;
}

.colorbrick img {
   margin-left: 450px;
   width: 500px;
   height: 250px;
   position: relative;
}

.blackbrick img {
   margin-left: 450px;
   width: 500px;
   height: 250px;
   position: relative;
}

a img:hover{
   transition: .5s;
   opacity: .5
}
.nav {
   margin-left: 445px;
   margin-top: 12px;
   color: white;
   font-size: 30px;
   font-family: 'courier new';
   text-decoration: none;
   word-spacing: 5px;
}
.nav a:hover {
transition: .5s;
color: #973536;
}

#amsterdam img {
   float: left;
   padding-right: 10px;
   margin-left: 275px;
   margin-top: 0px;
   width: 500px;
}

#bio {
   padding-right: 5px;
   color: white;
   font-family: 'American Typewriter';
   font-size: 22px;
   margin-top: 160px;
   margin-right: 300px;
   margin-left: auto;
   line-height: 150%;
   padding-left: 5px;

}
.navabout {
   text-align: center;
   margin-top: 100px;
   color: white;
   font-family: 'American Typewriter';
   text-decoration: none;
   word-spacing: 18px;
}

a {
 text-decoration: none;
 color: white;
 font-size: 31px;
}

.navabout a:hover {
transition: .5s;
color: #973536;
}

#bw {
   padding: 310px;
   margin-left: 0;
   font-size: 32px;
   color: white;
   font-family: 'American Typewriter';
   text-align: center;
}

#and {
   color: #973536;
}

#Color {
   margin-top: 10px;
   margin-right: 10px;
   font-size: 32px;
   color: #973536;
   font-family: 'American Typewriter';
   text-align: center;
   padding: 350px;
}

#nav3 {
   text-align: right;
   margin-top: 10px;
   color: white;
   font-family: 'American Typewriter';
   text-decoration: none;
}

#nav3 a:hover {
transition: .5s;
color: #973536;
}

.photocontainer img {
   margin-top: 40px;
   margin-left: 24%;
   margin-right: 30%;
   width: 700px;
   float: left;
   padding-bottom: 30px;

}

#nav4 {
   float: right;
   margin-top: 0px;
   font-size: 15px;
   color: white;
   font-family: 'American Typewriter';
   text-decoration: none;
}

#nav4 a:hover {
transition: .5s;
color: #973536;
}

#daphne {
   float: left;
   font-family: 'American Typewriter';
   font-size: 30px;
   margin-left: 30px;
   margin-top: 0px;
   color: white;
}

#shoes img{
   float: left;
   padding-right: 10px;
   margin-left: 275px;
   margin-top: 0px;
   width: 500px;
}

#contact {
   text-align: center;
   padding-right: 5px;
   color: white;
   font-family: 'American Typewriter';
   font-size: 32px;
   margin-top: 100px;
   margin-right: 100px;
   margin-left: auto;
   padding-top: 150px;
   line-height: 150%;
   padding-left: 5px;
}

.navcontact {
    text-align: center;
   margin-top: 270px;
   color: white;
   font-family: 'American Typewriter';
   text-decoration: none;
   word-spacing: 18px;
}

.navcontact a:hover {
transition: .5s;
color: #973536;
}

.navbw {
    margin-left: 450px;
   color: white;
   font-family: 'American Typewriter';
   text-decoration: none;
   word-spacing: 18px;
}

.navbw a:hover {
   transition: .5s;
color: #973536;
}

.navcolor {
    margin-left: 450px;
   color: white;
   font-family: 'American Typewriter';
   text-decoration: none;
   word-spacing: 18px;
   padding-right: 10px;
}

.navcolor a:hover {
   transition: .5s;
color: #973536;
}
